@tailwind base;
@tailwind components;
@tailwind utilities;


.p-submenu-list li {
    margin-block: .5rem;
}

.p-menuitem-text {
    color: #111827 !important;
    font-weight: 500;
    line-height: 1.2rem;
}

@media screen and (max-width: 960px) {
    .p-menubar .p-menubar-button {
        display: none !important;
    }

    .p-menubar {
        position: inherit !important;
    }

    .p-menubar .p-menubar-root-list {
        display: flex !important;
        align-items: center !important;
        position: unset !important;
        padding: unset !important;
        background: inherit !important;
        border: unset !important;
        box-shadow: unset !important;
        width: unset !important;
    }
}
